*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;}



.showcase{
	background-image: url(image/showcase_.jpg);
	height: 64vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	z-index: 1;
	animation-name: showcaseBgChange;
	animation-delay:4s ;
	animation-duration:10s ;
	animation-iteration-count:infinite ;
	animation-timing-function: ease-in-out;
	-webkit-animation: gchange 10s linear infinite both;
	     -o-animation: gchange 10s linear infinite both;
}

@-webkit-keyframes showcaseBgChange{
	0%{background-image: url(image/showcase.jpg);}
	50%{background-image: url(image/color_day.jpg);}
	100%{background-image: url(image/head_teacher.jpg);}
	
}


@showcaseBgChange{
	0%{background-image: url(image/showcase.jpg);}
	50%{background-image: url(image/color_day.jpg);}
	100%{background-image: url(image/head_teacher.jpg);}
	
}

.showcase::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 64vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 5;
}



.showcase_a{
	background-image: url(image/head_teacher.jpg);
	height :210px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center center ;
	position: relative;
	width: 100%;
	z-index: 1;
}


.showcase_a::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.32);
	z-index: 5;
	border-radius: 50%;
}


.showcase_abig{
	background-image: url(image/head_teacher.jpg);
	height :240px;
	border-radius: 7%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center 31% ;
	position: relative;
	width: 100%;
	z-index: 1;
}

.showcase_abig::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.32);
	z-index: 5;
	border-radius: 7%;
}



.anthem_showcase::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.777);
	z-index: 5;
}


.anthem_showcase{
	background-image: url(image/cpm.jpg);
	height: 450px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	z-index: 1;
	}

.social_showcase::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.557);
	z-index: 5;
}


.social_showcase{
	background-image: url(image/graduation.jpg);
	height: 450px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	z-index: 1;
	}
section h4{
	font-weight: bold;
}

.shade{box-shadow: 6px 0 30px rgba(0, 0, 255, 0.9);}
.welcome_img{width: 90%;height: 250px;}

.animate_{
	text-shadow 3.5px 4px 3px blue;
	animation-name: shift;
	animation-delay:-2s ;
	animation-duration:12s ;
	animation-iteration-count:infinite ;
	animation-timing-function: ease-in-out;

}

@keyframes shift{
	0%{margin-left: 10px;color: black;}
	50%{margin-left: 40px;color: white;}
	80%{margin-left: 40px;color: white;opacity: 0.6;}
	100%{margin-left: 40px;color: white;opacity: 0.9;}
}


.footer_showcase::after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: inherit;
	background-color: rgba(0, 0, 0, 0.777);
	z-index: 5;
}


.footer_showcase{
	background-image: url(image/badge.jpg);
	height: 460px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	width: 100%;
	z-index: 1;
	}

	address{color: white;}
	footer p{color: antiquewhite;}
	footer ul li{color: white !important;}
	footer ul li:hover{color: blue !important;}



	h1{margin: 0;padding: 0;}
	p{padding: 0;}
	.animate{position:absolute;z-index: 10;top: 24vh;left: 9vw;color: antiquewhite;text-shadow: 3.5px 4px 3px blue; animation-name: teach;animation-delay: -1s;animation-duration: 5s;animation-iteration-count: 2;animation-timing-function: ease-in-out;}

	.animate2{position:absolute;z-index: 10;top: 31vh;left: 9vw;color: antiquewhite;animation-name: teachs;animation-delay: -1s;animation-duration: 9s;animation-iteration-count: 1;animation-timing-function: ease-in-out;text-shadow: 1.2px 1px 1px blanchedalmond;}

	
	.animate4{position:absolute;z-index: 10;bottom: 0;left: 12vw;color: antiquewhite;animation-name: teachs;animation-delay: -1s;animation-duration: 9s;animation-iteration-count: 1;animation-timing-function: ease-in-out;font-weight: bolder;}

	@keyframes teach{
		0%{ left: 3vw;opacity:0.1221;}
		50%{left: 9vw;opacity: 0.5999;}
		100%{left: 9vw;opacity: 0.9390;}
		
	}

	@keyframes teachs{
		0%{opacity:0 ;}
		50%{opacity: 0;}
		85%{opacity: 0;}
		90%{opacity: 0.9;}
		95%{opacity: 0.9;}
		100%{opacity: 1;}
		
	}

	/* image hover styling ---*/
.container {
  position: relative;
  width: 100%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 1.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.6
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color:;
  color: white;
  font-size: 16px;
  padding: 8px 16px;
}

