.bg{
    background-image: url('../images/default.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100vh;
}
.transparent{
    background-color: rgba(0, 0, 0, .45);
    height: 100vh;
}

input.parsley-error,
    select.parsley-error,
    textarea.parsley-error{
        border-color: #d43f3a;
        box-shadow: none;
    } 
    input.parsley-error:focus,
    select.parsley-error:focus,
    textarea.parsley-error:focus{
        border-color: #d43f3a;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ff8f8a;
    }
    input.parsley-success,
    select.parsley-success,
    textarea.parsley-success{
        border-color: #398439;
        box-shadow: none;
    }

    input.parsley-succes:focus,
    select.parsley-succes:focus,
    textarea.parsley-succes:focus{
        border-color: #398439;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #89d499;
    }
    .parsley-errors-list{
        list-style-type: none;
        padding-left: 0;
        margin-top: 5px;
        margin-bottom: 0;
    }
    .parsley-errors-list.filled{
        color: #d43f3a;
        opacity: 1;
    }